<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hypertrack.uber_consumer">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".base.ConsumerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginIntoFirebaseActivity" />
        <activity android:name=".activities.GetHyperTrackUserActivity" />
        <activity android:name=".activities.GenerateRideActivity" />
        <activity android:name=".activities.BookRideActivity" />
        <activity android:name=".activities.TrackRideActivity" />

        <!-- HyperTrack requirements : start -->
            <!-- For FCM integration -->
            <service android:name=".base.MyFirebaseMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        <!-- HyperTrack requirements : end -->


    </application>

</manifest>